header{
    display: flex;
    height: 65px;
    border-bottom: 1px solid #E2E2E2;
    align-items: center;
    justify-content: space-between;
}
.half {
  width:50%;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #FFFFFF;
  height: 100%;
}
a {padding: 0;}
.half:first-child {
  justify-content: flex-start;
}

.half:last-child {
  justify-content: flex-end;
  gap: 15px;
}